. {
  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #009688 13%, #dadbd3 13% 100%);
  overflow: auto;
}

.app::-webkit-scrollbar {
  display: none;
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: 0px;
  height: 95vh;
  width: 1400px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
